<ion-header>
  <ion-toolbar>
    <ion-title>
      Generar QR
    </ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/pag-inicio-docente"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item *ngIf="userType === 'docente'">
    <ion-label>Profesor: {{ currentProfessor?.nombre }}</ion-label>
  </ion-item>

  <ion-item *ngIf="userType === 'docente' && currentProfessor?.materias?.length > 0">
    <ion-label>Materia: {{ currentProfessor?.materias[0]?.materia }}</ion-label>
  </ion-item>

  <ion-item *ngIf="userType === 'docente' && currentProfessor?.materias[0]?.secciones?.length > 0">
    <ion-label>Sección</ion-label>
    <ion-select [(ngModel)]="currentProfessor.materias[0].seccionActual" interface="popover" placeholder="Seleccionar sección">
      <ion-select-option *ngFor="let seccion of currentProfessor.materias[0].secciones" [value]="seccion">{{ seccion }}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button *ngIf="userType === 'docente' && currentProfessor?.materias[0]?.seccionActual" (click)="generarQR()">Generar QR</ion-button>

  <qrcode *ngIf="qrGenerado" [qrdata]="generateQRData()" [width]="400"></qrcode>

  <ion-item *ngIf="userType === 'estudiante'">
    <ion-label>Estudiante: {{ currentStudent?.nombre }}</ion-label>
  </ion-item>

  <ion-item *ngIf="userType === 'estudiante' && currentStudent?.materias?.length > 0">
    <ion-label>Materia: {{ currentStudent?.materias[0]?.materia }}</ion-label>
  </ion-item>

  <!-- Botón para registrar asistencia -->
  <ion-button *ngIf="userType === 'estudiante'" (click)="registrarAsistencia()" color="success" expand="full">
    Registrar Asistencia
  </ion-button>

  <ion-item *ngIf="asistenciaRegistrada">
    <ion-label>Asistencia registrada exitosamente!</ion-label>
  </ion-item>
</ion-content>