<ion-header>
  <ion-toolbar>
    <ion-title>Página de Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h2>Bienvenido, {{ usuario }}</h2>

  <ion-list>
    <ion-item button>
      <ion-label routerLink="/mis-asignaturas">Mis asignaturas</ion-label>
    </ion-item>

    <ion-item button>
      <ion-label routerLink="/mis-asistencias">Mis asistencias</ion-label>
    </ion-item>

    <ion-item button routerLink="/generar-qr">
      <ion-label>Registrar asistencia</ion-label>
    </ion-item>

    <ion-item button routerLink="/cambiarclave">
      <ion-label>Cambiar clave</ion-label>
    </ion-item>
  </ion-list>

  <ion-button routerLink="/login" expand="block" color="danger" (click)="salir()">Salir</ion-button>
</ion-content>
